.form-register {
    max-width: 330px;
    padding: 15px;
    margin: auto;
}

.form-register h1 {
    margin-bottom: 20px;
}

.form-register .form-control {
    margin-bottom: 10px;
    border-radius: 4px;
}

.error-text {
    color: red;
    font-size: 0.9em;
    margin-bottom: 10px;
}
